<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite"  verbose="1" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="web.services.symetra.utils.Listeners.TestListener" />
	</listeners>

	<test name="Sample Test One">
		<classes>
			<class name="web.services.symetra.tests.HomePageTest"/>
		</classes>
	</test>
	
	<test name="Sample Test two">
		<classes>
			<class name="web.services.symetra.tests.HomePageTestTwo"/>
		</classes>
	</test>
	
</suite>